<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>

		<property name="hibernate.connection.driver_class">
			com.microsoft.sqlserver.jdbc.SQLServerDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:sqlserver://VIKASGOND:1433;databaseName=MyDB
		</property>
		<property name="hibernate.connection.username">testUser</property>
		<property name="hibernate.connection.password">test@123</property>
			<!-- Hibernate specific information -->
		<property name="show_sql">true</property>
		<!-- org.hibernate.dialect.OracleDialect -->
		<!-- <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property> -->
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
   <!--   <property name="hibernate.hbm2ddl.auto">create</property> -->
        <property name="hibernate.hbm2ddl.auto">update</property>
	   <mapping class="com.infy.model.HeadOfState" />
	   <mapping class="com.infy.model.Country" />
	    <mapping class="com.infy.biDir.HeadOfState" />
	    <mapping class="com.infy.biDir.Country" />

</session-factory>
  	

</hibernate-configuration>
  	
